

* { 
background-color: gray;
margin: 0;
}


nav div {
    width: 10;
    height: 10;
}



h1 {
    background-color: green;
    color: blue; 
    font-size: 50px; 
}

p {
    background-color: black;
    color: white;
    font-size: 20px;
}


/*-------------------- Nav bar --------------------*/

nav {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;


}

div.nav_image_box {
    background-color: purple;
    /* display: flex; */
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-wrap: wrap;
    /* display: flex; */
}

.nav_image {
    width: 40%


    /* width: 100px; */
    /* height: 100px; */
    /* width: 40%; */ 
    /* background-color: blue; */
    /* margin: 10px; */






}

.nav_items {
    float: right;
}



div.nav_items a {
    /* Change color */
    color: purple;
    
    background-color: green;

    /* Increse size of element */
    padding: 10px;

    /* Add spacing bewteen elements */
    margin: 10px;





    /* Move underline from a tags */
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

main div.text_container {
    /* padding: 100px; */
    /* padding: 100px; */
    width: 300px;
    border: 15px dotted green;
    margin: 60px;
    padding: 50px;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */


    /* Changes from horizontal to vertical */
    /* display: flex; */


    /* Center all elements inside environment */
    /* align-items: center; */

    /* gap between elements inside container */
    /* gap: 5px; */ 
    /* align-items: center; */
}

/* div.image_container img { */
/*     width: 100px; */


/*     /1* height: 100px; *1/ */
    
/* } */



footer {
    background-color: black;
    color: white;

    padding: 50px;
    text-align: center;
}
