

* { 
background-color: gray
}


nav div {
    width: 10;
    height: 10;
}



h1 {
    background-color: green;
    color: blue; 
    font-size: 50px; 
}

p {
    background-color: red;
    color: yellow;
    font-size: 20px;
}


/*-------------------- Nav bar --------------------*/
.nav_items {
    float: right;
}

div.nav_images {
    background-color: purple;
    display: flex;
    justify-content: space-between;



}

div.nav_items a {
    /* Change color */
    color: purple;
    
    background-color: green;

    /* Increse size of element */
    padding: 10px;

    /* Add spacing bewteen elements */
    margin: 10px;





    /* Move underline from a tags */
    text-decoration: none;
}

main div.text_container {
    padding: 100px;
    /* padding: 100px; */



    /* Changes from horizontal to vertical */
    /* display: flex; */


    /* Center all elements inside environment */
    align-items: center;

    /* gap between elements inside container */
    gap: 5px; 
    /* align-items: center; */
}

/* div.image_container img { */
/*     width: 100px; */


/*     /1* height: 100px; *1/ */
    
/* } */



footer {
    background-color: black;
    color: white;

    padding: 50px;
    text-align: center;
}
